form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50%;
    width: 75%;
}

main {
    display: flex;
    align-items: flex-start;
    background-color: aqua;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.leftBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.rightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 0.25em;
}

